/* Inicio: Imágenes */
.ayotl {
    max-width: 70%;
    max-height: 70%;
}

.Logo {
    max-width: 90%;
    max-height: 90%;
}
/* Inicio: Imágenes */


/* Inicio: Lista */
ul {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
}
/* Fin: Lista */
